body
{
    background: #fff;
    color: #444;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: .02em;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}
div

{
    display: block;
}

/* Promotion bar */
.promo-bar
{
    background-color: rgb(241, 147, 147);
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-family: 'raleway';
    font-weight: 500;
    letter-spacing: 0;
    overflow: hidden;
    text-align: center;
}

/* Promotion bar */

.header
{
    z-index: 99999999;
    color: #333;
    background: #fff;
    width: 100%;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header .fixed-header
{
    border-bottom: 1px solid rgba(205,208,220,0.35);
    padding-bottom: 2px;
}

.header .main-heading
{
    padding: 0;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.header .main-heading .logo
{
    display: inline-block;
    width: 200px;
    cursor: pointer;
    position: relative;
    left: 0;
    right: 0;
    margin: 9px 0 0 -2px;
}
.header .main-heading .logo a
{
    display: inline-block;
    width: 200px;
    cursor: pointer;
    position: relative;
    left: 0;
    right: 0;
    margin: 9px 0 0 -2px;
    text-decoration: none;
}

.header .main-heading .logo a span
{
    color: #ffc0cb;
    font-size: 24px;
    font-weight: 500;
    font-family: Comic Sans MS;
}

.header .main-heading .search.desktop
{
    display: inline-block;
    width: 400px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: 13px auto 0;
    z-index: 99;
    line-height: 36px;
    padding: 0;
    border: 1px solid #cecece;
    border-radius: 50px;
    top: 2px;
    background: #fff;
}

.header .main-heading .search.desktop i.fa-search
{
    line-height: 38px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    right: 12px;
    font-size: 15px;
    color: #999;
    padding: 0 3px;
}

.nav-bar
{
    margin-top: 5px;
}
.nav
{
    position: relative;
    top: -12px;
    margin: 0;
    padding: 0;
}

.nav-item
{
    display: inline-block;
    margin-top: 7px;
    border: none;
    padding: 0 10px;
}

.nav-link
{
    color: rgb(139, 137, 137);
    font-family: Comic Sans MS;
    font-size: 16px;
    position: relative;
}
.nav-link:hover
{
    color:  rgb(184, 178, 178);
}


/*-------------------Nav-bar hover animation----------------*/
.a-link::before,
.a-link::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(250, 144, 162);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

.a-link::after
{
    top: 0;
    transform-origin: left;
}

.a-link::before
{
    bottom: 0;
    transform-origin: right;
}

.a-link:hover::before,
.a-link:hover::after
{
    transform: scaleX(1);
}

/*--------------------dropdown-content----------------*/

.dropdown-content
{
    display: none;
    width: 100%;
    height: 350px;
    position: absolute;
    box-shadow: 0 4px 4px -2px #666;
    overflow: auto;
    z-index: 100;
    background-color: white;
    transition-delay: 5s;
}

.content
{
    width: 25%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 0 auto;
}

.col_1
{
    float: left;
    position: relative;
    top: 10px;
    max-width: 50%;
}
  

.a-link
{
    font-size: 16px;
}

/*-------------ENDING: Header*/

#page-container-full
{
    padding: 0;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.back-to-school
{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 600px;
    background-color: aqua;
    
}

.back-to-school img
{
    width: 1300px;
    height: 600px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.three-in-one
{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 420px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-all-items
{
    width: 1300px;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-items
{
    height: 420px;
    width: 420px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;

}

/*--------------------Footer----------------------*/
#footer
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    color: #535353;
    background: #f2f2f2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixed-width
{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

#footer #page-footer-container .footer-heading
{
    text-align: left;
    margin-top: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#footer #mc_embed_signup
{
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#footer #mc_embed_signup_scroll
{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
}

#footer #mc_embed_signup label
{
    font-weight: 500;
    display: inline-block;
    padding-top: 0 !important;
    padding-bottom: 2px !important;
}

#footer #mc_embed_signup label .news-title
{
    display: block;
    font-size: 23px;
    font-family: 'raleway';
    letter-spacing: .5px;
}

#footer #mc_embed_signup label .news-subtitle
{
    font-family: 'open sans';
    font-size: 14px;
    display: block;
    margin-top: 7px;
    letter-spacing: 1px;
    color: #777;
}

#footer #mc_embed_signup input.email
{
    vertical-align: top;
    height: 37px;
    display: inline-block;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: 400;
    font-family: "open sans";
    margin-left: 150px !important;
    width: auto !important;
    font-size: 13px !important;
    margin-top: 4px !important;
    padding: 0px 5px 0px 12px;
    border-width: 1px 1px 1px;
    border-style: solid none solid solid;
    border-color: rgb(206, 206, 206) rgb(206, 206, 206) rgb(206, 206, 206);
    border-image: initial;
    border-right: none;
    border-radius: 4px 0px 0px 4px !important;
}

#mc_embed_signup
{
    clear: none;
    display: inline;
}

#mc_embed_signup .clear
{
    clear: none;
    display: inline;
}

#footer #mc_embed_signup input.button
{
    vertical-align: top;
    text-transform: none;
    font-weight: 400;
    height: 37px !important;
    margin-left: -4px !important;
    width: auto !important;
    font-size: 13px !important;
    margin-top: 4px !important;
    padding: 0px 20px;
    border-width: 1px 1px 1px;
    border-style: solid solid solid none;
    border-color: rgb(206, 206, 206) rgb(206, 206, 206) rgb(206, 206, 206);
    border-image: initial;
    border-left: none;
    background: rgb(107, 124, 136);
    border-radius: 0px 4px 4px 0px !important;
}

#footer #mc_embed_signup input.button:hover
{
    background-color: #ffc0cb;
}

#footer .social-icons
{
    display: inline-block;
    margin: 8px 0 0 150px;
    cursor: default;
    white-space: nowrap;
    font-size: 0;
}

#footer .social-icons a img
{
    width: 28px;
}

#footer .social-icons a
{
    display: inline-block;
    color: rgb(136, 136, 136);
    padding: 0px 3px;
    padding-left: 10px;
    transition: all 0.1s ease-in-out 0s;
}

#footer .social-icons a:hover
{
    color: #ffc0cb;
}

#footer .social-icons a i
{
    font-size: 29px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.quick-links-wrapper
{
    white-space: nowrap;
    font-size: 0;
    margin: 15px 0px 20px;
}

.quick-links-wrapper .lane
{
    vertical-align: top;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
    text-align: left;
    font-size: 13px;
    display: inline-block;
}

.quick-links-wrapper .lane .lane-title
{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
}

.quick-links-wrapper .lane a
{
    display: table;
    margin-bottom: 6px;
    color: #444;
}

.selected-flag div
{
    background-image: url("images/cambodia.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 18px;
    margin-top: 4px;
    opacity: .8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 0 0 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

#footer .footer-footing
{
    font-weight: 500;
    font-size: 12px;
    cursor: default;
    border-top: 1px solid #e0e0e0;
}

#footer .footer-footing p
{
    line-height: 50px;
}

#footer .footer-footing span.mobile-div
{
    float: right;
}

#footer .footer-footing .footer-policy-link:first-child
{
    border-left: none;
}

#footer .footer-footing .footer-policy-link
{
    line-height: 22px;
    margin: 0;
    color: #333;
    font-weight: 500;
    padding: 0 25px;
    display: inline-block;
    border-left: 1px solid #cecece;
}

span
{
    text-align: inherit;
}

/* div slider */
.i-slider
{
    max-width: 1300px;
    border: none;
    overflow: hidden;
    height: 240px;
    visibility: visible;
    margin:0 auto;
}

.banner5
{
    margin-bottom: 10px;
}
.banner
{
    width: 100%;
    height: auto;
    position: relative;
    line-height: 0;
}
.banner img
{
    max-width: 100%;
    vertical-align: top;
}


/* Responsive Screeen */
@media only screen and (max-width : 768px){
    .i-slider
    {
        height: 150px;
    }
    .three-in-one
    {
        width: 100%;
    }
    .banner-all-items
    {
        width: 100%;
    }
    .banner-items
    {
        width: 50px;
        height: 50px;
    }
}